.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgb(213, 213, 213);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box; /* fixes the box size regardless of padding/margin*/
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative; /*position absolute on .nav_notification moves relative to the parent class*/
  color: rgb(47, 54, 62);
}

.nav__notification__chat {
  background-color: tomato;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification__ellipsis {
  background-color: tomato;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 27px;
  bottom: 25px;
}
