.status-bar {
  position: sticky; /*keeps it on the same spot when scrolling*/
  top: 0;
  width: 100%;
  box-sizing: border-box; /* fixes the box size regardless of padding/margin*/
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  font-weight: 700;
}
.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
